<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240404105807-b57icn70vgus0fvhc4frnmih9v3sbu1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240404105807-b57icn70vgus0fvhc4frnmih9v3sbu1f</string>
	<key>API_KEY</key>
	<string>AIzaSyDAobbPQ_XPMMpBWRNE5LBryvw9qIP298A</string>
	<key>GCM_SENDER_ID</key>
	<string>240404105807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egormezhin.SimpleChat</string>
	<key>PROJECT_ID</key>
	<string>simplechat-3d7d4</string>
	<key>STORAGE_BUCKET</key>
	<string>simplechat-3d7d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240404105807:ios:b11d7a5424db2227b0783a</string>
	<key>DATABASE_URL</key>
	<string>https://simplechat-3d7d4.firebaseio.com</string>
</dict>
</plist>